@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
}

::-webkit-scrollbar {
  display: none;
}

.nombre {
  text-shadow: -1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white,
    -1px 1px 0 white;
  color: black;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate {
  animation: scroll 30s linear infinite;
}
